<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" metadata-complete="false" version="3.1">
	<display-name>jsp_ex</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>lolStart</servlet-name>
		<jsp-file>/ch05/lolStart.jsp</jsp-file>
		<init-param>
			<param-name>시작골드</param-name>
			<param-value>475</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>lolStart</servlet-name>
		<url-pattern>/ch05/lolStart.jsp</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>appName</param-name>
		<param-value>jsp_ex</param-value>
	</context-param>
	<context-param>
		<param-name>appVersion</param-name>
		<param-value>1.0</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.bit.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/ch07/error/404_error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/ch07/error/500_error.jsp</location>
	</error-page>
	
	<session-config>
		<!-- 세션 타임아웃 (분 단위) -->
		<session-timeout>1</session-timeout>
	</session-config>
	
	<context-param>
		<param-name>AdminId</param-name>
		<param-value>jsp_ex</param-value>
	</context-param>
	<context-param>
		<param-name>AdminPw</param-name>
		<param-value>1234</param-value>
	</context-param> 
	
</web-app>
















